MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority
DATABASE_NAME=baba_portfolio

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_MUSIC_FOLDER=samples/Gandharba_Music
CLOUDINARY_PICTURES_FOLDER=samples/Gandharba_picture

CORS_ORIGINS=https://your-frontend.vercel.app
